.hosting-aside {
    background: #fafafa;
    display: block;
    height: 100%;
    position: relative;
    
    .list ul{
        background-color: transparent !important;
    }
}
.hosting-aside_block {
    box-shadow: rgb(0 0 0 / 5%) -4px 0px 20px inset;
    padding: 30px;
    background: #fafafa;
}