.img-responsive-wrapper {
  overflow: hidden
}

.img-responsive-wrapper .img-responsive {
  padding-bottom: 61.29%;
  position: relative;
  height: 0;
}
.img-responsive-wrapper .img-responsive .img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.img-responsive-wrapper .img-responsive .img-wrapper.custom-object-fit {
  background-size: cover;
  background-position: center;
  background-color: #ebeced
}

.img-responsive-wrapper .img-responsive .img-wrapper.custom-object-fit img {
  visibility: hidden
}

.img-responsive-wrapper .img-responsive .img-wrapper img {
  width: 100%;
  display: block;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: all .2s ease-in-out;
}

.overlay-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden
}
.article-item:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 0;
  background: var($border-color);
}


/* Media */

.story-item__body:not(.sm) .card-title {
  margin: 0;
}

.media-item_number .card-title {
  font-size: 1.25rem;
  line-height: 1.35rem;
}

.post-num_number {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3rem;
  /* font-family: var(--font-); */
}

.media.story-item:last-of-type {
  border-bottom: 0;
}

.story-item,
.media-item_number {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--border-color);
}

.bg-dark .story-item,
.bg-dark .media-item_number,
.bg-dark .media-item_link {
  border-bottom: 1px solid var(--border-color-dark);
}

.media-item_link {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--border-color);
}

.media-thumb.sm {
  max-width: 25%;
  padding-top: 18%;
  position: relative;
  width: 25%;
}

.media-thumb {
  max-width: 35%;
  padding-top: 22%;
  position: relative;
  width: 35%;
  -webkit-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  transition: .2s ease-out;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .media-thumb {
      max-width: 30%;
      width: 30%;
  }
}

.media-thumb img {
  position: absolute;
  object-fit: cover;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all .2s ease-in-out;
}

.media-thumb:hover img,
.img-responsive-wrapper:hover img {
  transform: scale(1.05);
}
