#site-header {
    position: absolute;
    margin: auto;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
}
nav.uk-navbar-container {
    padding-left: 15px;
    padding-right: 15px;
}
.uk-logo{
    & img{
        height: 50px;
        width: auto;
    }
}