
#main-site {
	max-width: 1560px;
	margin: auto;
	background: #fff;
}

@media (min-width: 1281px) {
	#main-site {
		max-width: 1280px;
	}
}

@media (min-width: 1560px) {
	#main-site {
		max-width: 1560px;
	}
}
