.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  height: 100% !important;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 24px;
}

.photo-gallery {
  height: 80%;
  width: 100%;
}

.photo-gallery_thumbs {
  height: 100%;
  box-sizing: border-box;
  padding: 10px 0;
}

.photo-gallery_thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.photo-gallery_thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.photo-gallery {
  height: 500px;
  position: relative;
  display: block;
}

.toolbar-thumbs {
  padding: 0;
  height: 90px;
  margin-top: 10px;
  border: none;
}
.toolbar-thumbs:before {
  content: none;
}