// Font Variable
$font-sans-serif: 'Inter', sans-serif;
$font-serif: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
$body-font-family: 'Inter', sans-serif;
$font-family-sans-serif: 'Inter', sans-serif;

$primary: #009;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

$card-border-radius: 0;
$card-border-width: 0;
// Font Size
$body-font-size: 14px;

// Body Line Height
$body-line-height: 1.6em;


// #af52de; //Purple


$swiper-navigation-size: 20px;
$swiper-theme-color: #121212;
$link-color: #121212;
// Font Size
$body-font-size: 14px;
$link-color: #121212;
$nav-link-color: #121212;
$btn-border-radius: 999px;
// Avatar

$avatar-size-base: 3rem;
$avatar-size-xs: 2.1875rem;
$avatar-size-sm: 2.5rem;
$avatar-size-lg: 4rem;
$avatar-size-xl: 5.125rem;
$avatar-size-xxl: 8rem;
$avatar-size-xxxl: 11rem;

// Form font size
$form-fs-lg: 1.2rem;
$form-fs-md: 1rem;
$form-fs-sm: 0.875rem;

// Modal
$modal-sm:                          400px;
$modal-md:                          630px;
$modal-lg:                          1000px;
$modal-xl:                          1140px;
$modal-transition:                  translate3d(0,0,0);
$modal-fade-transform:             translate3d(0,0vh,0);
// Body Line Height
$body-line-height: 1.6em;
// Vertical base space
$v-gap: 8px !default;

// Gridlist **************
$grid-item-df-proportion: 66.81222707423581%;
$grid-item-df-double-proportion: 33.4061135371179%;
$grid-item-text-size: 1rem;
$grid-item-text-size-mob: 0.8rem;
$grid-list-default-gap: 2px;
$grid-list-text-gap: $v-gap;
$grid-item-sm-col: 50%;
$grid-item-lg-col: 33.333333%;
$grid-item-icon-mob-size: 24px;
$grid-item-icon-size-desk: 32px;
