// Font Variable
$font-sans-serif: 'Inter', sans-serif;
$font-serif: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
$body-font-family: 'Inter', sans-serif;
$font-family-sans-serif: 'Inter', sans-serif;

$primary: #009;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

$card-border-radius: 0;
$card-border-width: 0;
// Font Size
$body-font-size: 14px;

// Body Line Height
$body-line-height: 1.6em;

// Light Color Palettes
$main-color: #fff;
$base-color: #000;
$base-color1: rgba(0, 0, 0, 0.95);
$base-color2: rgba(0, 0, 0, 0.70);
$base-color3: rgba(0, 0, 0, 0.4);
$base-color4: #e5e5e5;
$base-color5: rgba(0, 0, 0, 0.05);
$base-color6: rgba(0, 0, 0, 0.02);
$border-color: #d9d9d9;
$border-color-dark: rgb(255 255 255 / 20%);
// Accent color
$accent-color1: #007aff; //Primary Blue /
$accent-color2: #8e8e93; //Gray /
$accent-color3: #5ac8fa; //Light Blue /
$accent-color4: #34c759; //Green /
$accent-color5: #ff3b30; //Red /
$accent-color6: #ff9500; //Orange /
$accent-color7: #5856d6; //Indigo
$accent-color8: #af52de; //Purple
// #af52de; //Purple


$swiper-navigation-size: 20px;
$swiper-theme-color: #121212;
$link-color: #121212;
// Font Size
$body-font-size: 14px;
$link-color: #121212;
$nav-link-color: #121212;
$btn-border-radius: 999px;
// Avatar

$avatar-size-base: 3rem;
$avatar-size-xs: 2.1875rem;
$avatar-size-sm: 2.5rem;
$avatar-size-lg: 4rem;
$avatar-size-xl: 5.125rem;
$avatar-size-xxl: 8rem;
$avatar-size-xxxl: 11rem;