:root{
    
}
html, body{
    margin: 0;
    background-color: #EAEAEA;
}
.site-logo img{
    height: 50px;
    width: auto;
}
a{
    text-decoration: none;
}
/* pages */
.topics-list{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    overflow: hidden;
}

.page-content {
    padding: 15px 0;
}

.section-title,
.page-title {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--border-color);
    font-family: $font-serif;
}

.bg-dark .section-title {
    border-color: var(--border-color-dark);
}

.article-body a {
    color: var(--primary);
}


/* Media */

.story-item__body:not(.sm) .card-title {
    margin: 0;
}

.media-item_number .card-title {
    font-size: 1.25rem;
    line-height: 1.35rem;
}

.post-num_number {
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 3rem;
    /* font-family: var(--font-); */
}

.media.story-item:last-of-type {
    border-bottom: 0;
}

.story-item,
.media-item_number {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--border-color);
}

.bg-dark .story-item,
.bg-dark .media-item_number,
.bg-dark .media-item_link {
    border-bottom: 1px solid var(--border-color-dark);
}

.media-item_link {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--border-color);
}

.media-thumb.sm {
    max-width: 25%;
    padding-top: 18%;
    position: relative;
    width: 25%;
}

.media-thumb {
    max-width: 35%;
    padding-top: 22%;
    position: relative;
    width: 35%;
    -webkit-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    transition: .2s ease-out;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    .media-thumb {
        max-width: 30%;
        width: 30%;
    }
}


// Icons fixed height and width
.icon-sm {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    font-size: 75%;
  }
  .icon-md {
    width: 2.6rem;
    height: 2.6rem;
    line-height: 2.6rem;
    text-align: center;
    font-size: .8rem;
  }
  .icon-lg {
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    font-size: 1.2rem;
  }
  .icon-xl {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 1.9rem;
  }
  
  .icon-xxl {
    width: 7rem;
    height: 7rem;
    line-height: 7rem;
    text-align: center;
    font-size: 2.5rem;
  }