.card-body {
    padding: 0.5rem 0;
}
.card-text{
    color: $gray-600;
}
.card-title {
    font-family: $font-serif;
}
.category-top {
    color: #435a70;
    margin-bottom: 10px;
    font-size: 12px;
    display: block;
}
.category-top a.category {
    color: $primary;
    text-transform: uppercase;
    font-weight: 500;
}
.category-top .data:before {
    content: "—";
    display: inline-block;
    margin: 0 8px;
}

// Hovering on card to show hover overlay on bottom
.card{
    &.card-overlay-bottom{
      overflow: hidden;
      &:before {
        content: "";
        position: absolute;
        height: 50%;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba($black, 1)));
        background-image: linear-gradient(180deg, transparent, rgba($black, 1));
        z-index: 1;
      }
    }
    .card-img-overlay{
      z-index: 2;
    }
  }
  
  // Hovering on card to show hover overlay on top
  .card{
    &.card-overlay-top{
      overflow: hidden;
      &:before {
        content: "";
        position: absolute;
        height: 50%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba($black, 1)));
        background-image: linear-gradient(0deg, transparent, rgba($black, 1));
      }
    }
  }
  // card featured
.card-featured {
    position: absolute;
    z-index: 99;
    background: var(--#{$prefix}primary);
    color: var(--#{$prefix}white);
    transform: rotate(45deg);
    text-align: center;
    top: -8px;
    right: -48px;
    width: 120px;
    padding: 16px 0 3px 0;
  }