.card-text{
    color: $gray-600;
}
.card-title {
    font-family: $font-serif;
}
.category-top a.category {
    color: $primary;
    text-transform: uppercase;
    display: block;
    font-size: 12px;
    font-weight: 500;
}
